<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
        <link href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/quasar@1.9.8/dist/quasar.min.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/quasar@1.9.8/dist/quasar.umd.min.js"></script>

        <div id="rpsApp">
            <template>
                <q-layout view="hhh lpR fff">

                    <q-drawer show-if-above v-model="right" side="right" bordered>
                        <q-scroll-area style="height: 100%; width: 100%;" @scroll="onScroll">
                            <div class="q-pa-md row">
                                <div v-for="message in messages">
                                    <q-chat-message
                                    :text="[ message ]">
                                    </q-chat-message>
                                </div>
                            </div>
                        </q-scroll-area>
                    </q-drawer>

                    <q-page-container>
                        <q-page>

                            <div class="row no-wrap q-pa-xl text-h4">
                                <div class="col">Opponent</div>
                                <div class="col text-center">
                                    <q-avatar
                                    color="indigo"
                                    text-color="white"
                                    size="135px"
                                    :icon="opponentTimeout ? 'fas fa-ban' : ( opponentHand ? (opponentHand === 'r' ? 'fas fa-hand-rock' : opponentHand === 'p' ? 'fas fa-hand-paper' : 'fas fa-hand-scissors') : '')"
                                    ></q-avatar>
                                </div>
                            </div>
                            <div class="row no-wrap q-pa-xl text-h2" style="height: 200px;">
                                <div class="col text-center">
                                    <span v-if="gameState === 'initial' || gameState === 'pre'">
                                        {{ timer ? timer.text : null }}
                                    </span>
                                    <span v-if="gameState === 'play'">
                                        Play!
                                    </span>
                                    <span v-if="gameState === 'postDraw'">
                                        It's a DRAW :(
                                    </span>
                                    <span v-if="gameState === 'postPlayer'">
                                        You WON
                                    </span>
                                    <span v-if="gameState === 'postOpponent'">
                                        You LOST
                                    </span>
                                    <span v-if="gameState === 'postLose'">
                                        Amazing, you both LOST
                                    </span>
                                    <div v-if="gameState === 'postDraw' || gameState === 'postPlayer' || gameState === 'postOpponent' || gameState === 'postLose'" class="text-body1">
                                        <q-btn color="primary" icon="replay" label="Play Again" @click="startGame(gakiVersion)" />
                                    </div>
                                </div>
                            </div>
                            <div class="row no-wrap q-pa-xl text-h4">
                                <div class="col">You</div>
                                <div class="col text-center">
                                    <q-btn
                                    size="35px"
                                    round
                                    color="cyan"
                                    :outline="playerHand !== 'r'"
                                    :icon="playerTimeout ? 'fas fa-ban' : 'fas fa-hand-rock'"
                                    :disable="playerTimeout"
                                    @click="playerHand = 'r'"
                                    ></q-btn>
                                    <q-btn
                                    size="35px"
                                    round
                                    color="teal"
                                    :outline="playerHand !== 'p'"
                                    :icon="playerTimeout ? 'fas fa-ban' : 'fas fa-hand-paper'"
                                    :disable="playerTimeout"
                                    @click="playerHand = 'p'"
                                    ></q-btn>
                                    <q-btn
                                    size="35px"
                                    round
                                    color="green"
                                    :outline="playerHand !== 's'"
                                    :icon="playerTimeout ? 'fas fa-ban' : 'fas fa-hand-scissors'"
                                    :disable="playerTimeout"
                                    @click="playerHand = 's'"
                                    ></q-btn>
                                </div>
                            </div>

                            <q-page-sticky position="bottom-right" :offset="[18, 18]">
                                <div class="column items-center" style="margin-top: 100px;">
                                    <q-fab
                                        color="primary"
                                        icon="add"
                                        direction="up"
                                        vertical-actions-align="right"
                                        >
                                        <q-fab-action label-position="left" color="primary" @click="startTraditional" icon="gamepad" label="Play traditional Rock Paper Scissors"></q-fab-action>
                                        <q-fab-action label-position="left" color="secondary" @click="startGaki" icon="flip_to_back" label="Play Gaki No Tsukai Rock Paper Scissors"></q-fab-action>
                                    </q-fab>

                                </div>
                            </q-page-sticky>

                        </q-page>
                    </q-page-container>

                </q-layout>

            </template>
        </div>
        <script src="rpsApp.js"></script>
    </body>
</html>
